/* css for our html body */
body {
    color: white;
    background-color: rgb(37, 110, 187);
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}

/* css for our links/<a> elements */
a {
    text-decoration: none;
    color: white;
}

/* css for our navbar and navbar-item classes */
.navbar {
    background-color: rgb(20, 86, 152);
    padding: 20px;
    text-align: center;
}

.navbar-item {
    background-color: rgb(11, 76, 141);
    padding: 20px;
    height: 10px;
}
.navbar-item:hover {
    background-color: white;
    color: rgb(20, 86, 152)
}

.banner-item {
    text-align: center;
}

.banner-image {
    width: 100%;
}

.profile {
    align-items: baseline;
}

.profile-picture {
    width: 30px;
}